body{
  padding: 10px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.col{
  flex: 1;
}

.dropzone{
  width: 100%;
  height: 400px;
  background: wheat;
  border: 1px solid #ddd;
}

.dropzone.dragging{
  background: white;
}

.dropzone.dropped{
  background: green;
}

.canvas-container{
  max-width: 100%;
  max-height: 400px;
  overflow: scroll;
}
canvas{
  border: 1px solid #ddd;
}
